* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #e5ddd5;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* ---------------------- SIDEBAR (ATUALIZADA) ---------------------- */

.sidebar {
    width: 30%;
    background: #fffffff5;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.tabs {
    display: flex;
    gap: 5px;
    margin-top: 10px;
   
}

.tab {
    padding: 5px 12px;
    background: #dad9d9e5;
    border: none;
    cursor: pointer;
     border-radius: 10px;
}

.tab.active {
    background: #b8d6fc;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
}


/* Lista de chats — mesmo sem contatos, fica pronta para quando houver backend */
.chat-list {
    list-style: none;
    overflow-y: auto;
    flex: 1;
}

.chat-item {
    display: flex;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
    gap: 10px;
}

.chat-item:hover {
    background: #f5f5f5;
}

.chat-item.active {
    background: #b3bcc9;
}

.chat-item .avatar {
    width: 45px;
    border-radius: 50%;
}

.chat-data {
    flex: 1;
}

.chat-number {
    font-weight: bold;
}

.chat-preview {
    font-size: 0.85rem;
    color: #777;
}

.chat-time {
    font-size: 0.75rem;
    color: #555;
}

/* Mensagem quando não houver chats */
.no-chats {
    padding: 20px;
    text-align: center;
    color: gray;
    font-size: 0.9rem;
}


/* ---------------------- CHAT AREA (mantida) ---------------------- */

.chat {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #edf1f7;
}

.chat-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background: #f0f2f5;
    border-bottom: 1px solid #ddd;
}

.messages {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.msg {
    padding: 15px 10px;
    max-width: 60%;
    border-radius: 30px;
    font-size: 13px;
}



.msg.sent {
    background: #3f8ff8;
    align-self: flex-end;
    color:white;
     width: 140px;
}

.msg.received {
    background: #031842;   
    align-self: flex-start;
    color: white;
    width: 140px;
    
}


/* INPUT */

.chat-input {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background: #f0f2f5;
    border-top: 1px solid #ccbcbc;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #130f36cb;
    outline: none;
    
}

.icon {
    background: transparent;
    border: none;
    font-size: 20px;
}

.send {
    background: #031842;
    padding: 15px 15px;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    width: 100px;
    font-weight: 600;
}
